.locations-list {
  display: grid;
  grid-row-gap: 10px;

  > .location > a {
    display: block;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: var(--box-border-radius);
  }
}
